<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__main">
        <div class="footer__item">
          Copyright © 2021 Ready&nbsp&#183;&nbspJet&nbspSet&nbsp&#183;&nbspGo! <br>All rights reserved
        </div>
        <div class="footer__item">
          <img class="footer__logo" src="/images/decoration/jetset.png" alt="">
        </div>
        <div class="footer__item">
          
          {% include "partials/social.njk" %}
        </div>
      </div>
      <div class="footer__additional">
        <p class="footer__author">Made with 
          <svg class="footer__icon">
            <use xlink:href="#heart">
            </use>
          </svg>
          by Mariia Dajcarova</p>
      </div>
    </div>
  </div>
  
</footer>