<div class="hero" id="hero">
  <div class="hero__text">
    <p class="emphasize">Welcome to </p>
    <p class="hero__title">Ready &#183; Jet Set &#183; Go!</p>
    <p class="hero__description">Blog about traveling.<br> Get inspired, plan your trip and share your expirience</p>
    <a href="#" id="scroll-down" class="scroll-down" data-scroll="#home-content">
      
      <span class="scroll-title">
        Scroll down
      </span>
      <span class="arrow-down">
        <!-- css generated icon -->
        </span>
    </a>
  </div>
  
</div>