<div class="postcard">
  <div class="postcard__photo">
    <img class="postcard__img" src="{{postimg}}" alt="">
  </div>
  <div class="postcard__devided">
    
  </div>
  <div class="postcard__description">
    
    <p class="postcard__title">{{posttitle}}</p>
    <div class="postcard__text">
      <p>
        {{postcard}}
      </p>
      
    </div>
  </div>
  
  
</div>