.aside-wrapper{

}
.main-content{
  padding: 50px 0;

  h2{
    margin-top: 0;
  }
}

@media screen and (min-width: 1040px){
  .aside-wrapper{
    display: grid;
    grid-template-columns: 1fr $w-aside;
  
  }
  .main-content{
    padding-right: 3rem;
  }
}