.search{
  width: 100%;
  max-width: 21rem;
  background-color: $c-primery;
}
.search__input{
  display: block;
  padding: 0.5rem 1rem;
  background-color: $c-background;
  border: none;

  font-family: inherit;
  font-size: 1.2rem;
  color: $c-text;
  text-transform: uppercase;

  &::placeholder{
    text-transform: uppercase;
  }
}
