{% include "partials/page-top.njk" %}

{% include "partials/header.njk" %}
<div class="container">
  <div class="aside-wrapper">
    <div class="main-content">


      <article class="post">
        <div class="post__header">
          
          <div class="date">
            <svg class="date__icon">
              <use xlink:href="#calendar">
              </use>
            </svg>
            <p>{{date.toUTCString() }}</p>
          </div>
      
          <h2 class="post__title">{{title}}</h2>
      
          <img src="{{featuredimage}}" alt="{{title}}" class="post__featured">
      
        </div>
        <div class="post__content">
          
          <div class="post__text">
    {{content | safe}}

   
<!-- Masonry gallery -->

<div class="masonry-gallery">
  <div class="grid">
    
    <div class="grid-col grid-col--1">
      
    </div>
    <div class="grid-col grid-col--2">
  
    </div>
    <div class="grid-col grid-col--3">
  
    </div>
    <div class="grid-col grid-col--4">
  
    </div>
      {% for photo in gallery %}

      
      <div class="grid-item">
        <div class="gallery-item">
          <p class="grid-text">{{photo.imgTitle}}</p>
          <a data-lightbox="mygallery" data-title="{{photo.imgTitle}}" href="{{photo.imgSrc}}"><img class="grid-img" src="{{photo.thumbnailSrc}}"></a>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>

{% if gallery2title %}

<h2>{{gallery2title}}</h2>

{% endif %}

{% if gallery2text %}
<p>{{gallery2text}}</p>
{% endif %}

{% if gallery2 %}
<!-- Masonry gallery 2-->

<div class="masonry-gallery">
  <div class="grid">
    
    <div class="grid-col grid-col--1">
      
    </div>
    <div class="grid-col grid-col--2">
  
    </div>
    <div class="grid-col grid-col--3">
  
    </div>
    <div class="grid-col grid-col--4">
  
    </div>
      {% for photo in gallery2 %}

      
      <div class="grid-item">
        <div class="gallery-item">
          <p class="grid-text">{{photo.imgTitle}}</p>
          <a data-lightbox="mygallery" data-title="{{photo.imgTitle}}" href="{{photo.imgSrc}}"><img class="grid-img" src="{{photo.thumbnailSrc}}"></a>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>

    {% endif %}

    {% include "partials/postcard.njk" %}
  </div><!--post text-->
    

    
    
</div><!--post content-->
<div class="post__footer">
  <div class="post__t">
    <p>Tagged in </p>
    <ul class="post__tags">

      {% for tag in tags %}

      <li class="post__tag-item">
        <a class="post__tag-link" href="#">{{tag}}</a>
      </li>

      {% endfor %}
      
    </ul>
  </div><!--post__t-->
  
  
  <div class="post__nav">
    <div class="post__nav-left">
      {% set previousPost = collections.all | getPreviousCollectionItem(page) %}


      <a href="{{previousPost.url}}">Previous: <br>{{previousPost.data.title}}</a>
    </div>


    <div class="post__nav-right">

      {% set nextPost = collections.all | getNextCollectionItem(page) %}

      <a calss="post__nav-right" href="{{nextPost.url}}">Next: <br>{{nextPost.data.title}}</a>
    </div>
    
  </div>
</div><!--post__footer-->

</article>
</div>
{% include "partials/aside.njk" %}
</div>
</div>
{% include "partials/page-bottom.njk" %}